# Environment variables
.env
.env.local
.env.*.local

# Python
.venv
.pytest_cache
__pycache__

# Local databases
*.db
*/*.db

# Flask local instance
instance

# Editor
.vscode

# Node
node_modules
jspm_packages
.npm
.node_repl_history

# Logs/temp
/log/*
/tmp/*